<div class="inner-data animated fadeInRight">
    <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand">
        <ul class="slider-container py-4 slideh-list" id="slider2">
            <li *ngFor="let prod of productos.productos">
                <div class=" card shadow h-100 ">
                    <div class="ratio ratio-1x1 ">
                        <a [routerLink]="['/app/product', prod._id]">
                            <img src="./assets/images/zip_package1.png " class="card-img-top " loading="lazy " alt="{{prod.nombre}} ">
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column flex-md-row ">
                        <div class="flex-grow-1 ">
                            <strong>{{prod.titulo}}</strong>
                            <p class="card-text ">{{prod.categoria.nombre}}</p>
                        </div>
                        <div class="px-md-2 ">$ {{prod.precio_ahora}}</div>
                        <div class="px-md-2 ">$ {{prod.precio_antes}}</div>
                        <div class="button-add-cart " type="button " (click)="addToCart() ">
                            <i class="fa fa-shopping-bag " id="myBtn "></i>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <button type="button " class="slider-nav " aria-label="Go to previous "></button>
        <button type="button " class="slider-nav slider-nav-next " aria-label="Go to next "></button>
    </div>
</div>