<section class="page favorites">

    <div class="titlePage animated fadeIn">
        <h3>Not Found</h3>
    </div>
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <div>

            <!----info-->
            <div class="areablanc areablanc-interna animated fadeInUp">
                <!-- ============================================================== -->
                <!-- Main wrapper - style you can find in pages.scss -->
                <!-- ============================================================== -->
                <section id="wrapper" class="error-page">
                    <div class="error-box">
                        <div class="error-body text-center">
                            <h1>404</h1>
                            <h3 class="text-uppercase">Page Not Found !</h3>
                            <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
                            <a href="/">
                                <button class="btn btn-success">
                              Back to home
                            </button></a>
                        </div>
                        <footer class="footer text-center">© {{ year }} Admin.</footer>
                    </div>
                </section>
                <!-- ============================================================== -->
                <!-- End Wrapper -->
                <!-- ============================================================== -->


            </div>

            <!---info-->




        </div>

    </div>
</section>