<footer>
    <!---menufooter--->
    <div class="menu-footer">
        <ul>


            <li>
                <a [routerLink]="['/app/store']" routerLinkActive="active">
                    <i class="fa fa-store"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/orders']" routerLinkActive="active">
                    <i class="fa fa-boxes"></i>
                </a>
            </li>
            <li class="active iconstore">
                <a [routerLink]="['/app/admin']" routerLinkActive="active">
                    <i class="fa fa-store-alt"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/product/edit']" routerLinkActive="active">
                    <i class="fa fa-window-restore"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/profile']" routerLinkActive="active">
                    <i class="fa fa-user"></i>
                </a>
            </li>

        </ul>
    </div>
</footer>