<section class="store">
    <a href="index.html"><img class="logo animated fadeInUp" src="./assets/svg/Logo-BellaCafeFinal.svg" alt=""></a>

    <!--cuadromodal-->
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">


                <div class="div-responsive1">


                    <!---Slider-->

                    <app-slider></app-slider>
                    <!---Slider-->
                    <br>


                    <app-search-bar></app-search-bar>
                    <br>
                    <!--category name-->

                    <app-category-bar></app-category-bar>

                    <!--category name-->
                    <div class="clear"></div>
                    <br><br>
                    <div class="scrollable">



                        <!--list horizontal-->
                        <h3>Cafés</h3>
                        <app-slide-productos-h></app-slide-productos-h>
                        <!--list horizontal-->

                        <!--list horizontal-->
                        <h3>Chocolates</h3>
                        <app-slide-productos-h></app-slide-productos-h>
                        <!--list horizontal-->

                        <!--list horizontal-->
                        <h3>Caramelos</h3>
                        <app-slide-productos-h></app-slide-productos-h>
                        <!--list horizontal-->
                        <!--list horizontal-->
                        <h3>Otros</h3>
                        <app-slide-productos-h></app-slide-productos-h>
                        <!--list horizontal-->





                    </div>


                </div>

                <div class="div-responsive2">

                    <app-lateral></app-lateral>
                </div>
            </div>
        </div>
    </div>

</section>