<section class="page user">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage animated fadeIn">
        <h3>User Detail</h3>
    </div>



    <!--cuadromodal-->
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">


                <div class="div-responsive1">

                    <div class="cardsmall group  itemFav shadow">

                        <div class="div1">
                            <img src="assets/users/1.jpg" alt="">

                        </div>
                        <div class="div2">
                            <p>John Doe.</p>
                            <p>Johndoe@gmail.com</p>
                            <p>User</p>

                        </div>

                    </div>


                    <div class="info-product animated fadeInUp">

                        <h1>Usuario Activo</h1>
                        <h2>fecha de registro</h2>
                        <p>Zona: Caracas, Norte </p>

                    </div>
                    <div class="clear"></div>
                    <div class="admin-services">
                        <a routerLink="/app/profile/edit/, id">
                            <div class="option-admin">
                                <i class="fa fa-user"></i>
                                <p>Edit Profile</p>
                            </div>
                        </a>
                        <a routerLink="/app/settings">
                            <div class="option-admin">
                                <i class="fa fa-store"></i>
                                <p>Settings</p>
                            </div>
                        </a>
                        <div class="option-admin">
                            <i class="fab fa-rocketchat"></i>
                            <p>Chat</p>
                        </div>
                        <!-- <a href="user-document.html">
                            <div class="option-admin">
                                <i class="fa fa-folder-open"></i>
                                <p>Documents</p>
                            </div>
                        </a> -->
                        <!-- <div class="option-admin">
                            <i class="fa fa-user"></i>
                            <p>Notifications</p>
                        </div> -->
                        <a routerLink="/">
                            <div class="option-admin">
                                <i class="fas fa-sign-out"></i>
                                <p>Logout</p>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="div-responsive2">

                    <app-lateral></app-lateral>
                </div>
            </div>
        </div>
    </div>
    <!--cuadromodal-->






</section>