<section class="page">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Detail</h3>
    </div>



    <!--cuadromodal-->
    <div class="cuadro-modal ">

        <div class="lineamedio"></div>


        <div class="cardsmall group  itemFav shadow">
            <img src="assets/users/1.jpg" alt="">
            <div class="div1">
                <p>John Doe.</p>
                <p>Johndoe@gmail.com</p>
                <p>User</p>

            </div>

        </div>


        <div class="info-product animated fadeInUp">

            <h1>Title Product</h1>
            <h2>Category</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aut dignissimos inventore accusantium eos alias quasi id, quam ducimus ipsa nostrum est recusandae enim esse laudantium quia quod incidunt mollitia.</p>
            <h2>Gallery</h2>

        </div>

    </div>
    <!--cuadromodal-->


</section>