<footer>
    <!---menufooter--->
    <div class="menu-footer">
        <ul>

            <li>
                <a [routerLink]="['/app/home']" routerLinkActive="active">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/store']" routerLinkActive="active">
                    <i class="fa fa-store"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/cart']" routerLinkActive="active">
                    <i class="fa fa-shopping-bag"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/favorites']" routerLinkActive="active">

                    <i class="fa fa-heart"></i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/app/profile']" routerLinkActive="active">
                    <i class="fa fa-user"></i>
                </a>
            </li>

        </ul>
    </div>
</footer>