<section class="page search">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Search</h3>
    </div>
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <!----info-->
        <div class="areablanc areablanc-interna animated fadeInUp">
            <div class="div-responsive1" style="padding: 0px;">


                <app-search-bar></app-search-bar>
                <br>
                <h5>Resultado de La busqueda</h5>
                <div>
                    <div class="botonera">
                        <div class="button btn-simple-gray">Anterior</div>
                        <div class="button btn-full-red">Siguiente</div>
                    </div>
                    <br><br>

                    <div class="carousel-inner-data">


                        <div class="post navTabs scrollable">

                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->


                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>

                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->

                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->
                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->
                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->
                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->

                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->
                            <!--Pedido-->
                            <div class=" itemFav pedidoResumen">
                                <div class="pedidoResumendiv1">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pedidoResumendiv2">
                                    <p>Nombre Producto</p>
                                </div>
                                <div class="pedidoResumendiv3">
                                    <p>categoría</p>
                                </div>

                                <div class="pedidoResumendiv4">
                                    <p style="text-decoration: line-through">$28.00</p>
                                    <p>$23.00</p>
                                </div>
                                <div class="pedidoResumendiv5">
                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Pedido-->









                        </div>
                    </div>


                </div>
            </div>
            <div class="div-responsive2">

                <app-lateral></app-lateral>
            </div>


        </div>

        <!---info-->

    </div>
</section>