<section class="page favorites category">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage ">
        <h3>Category: Name Category</h3>
    </div>
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <div>


            <!----info-->
            <div class="areablanc areablanc-interna animated fadeInUp">
                <div class="div-responsive1">



                    <!---Slider-->
                    <h5>Cupones de descuento</h5>
                    <app-slider></app-slider>


                    <!---Slider-->
                    <br>
                    <h5>Productos </h5>
                    <div class="carousel-inner-data">
                        <div class="post navTabs scrollable">
                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" itemFav">
                                <div class="group  itemFav lastposthome">
                                    <div class="favoritesdiv1">
                                        <a href="product.html">
                                            <img src="assets/images/zip_package1.png" alt="">
                                        </a>
                                    </div>

                                    <div class="favoritesdiv2">
                                        <p>Product Name.</p>
                                        <p>fecha de ultima compra</p>
                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>






                        </div>
                    </div>

                    <div class="botonera">
                        <div class="button btn-simple-gray">Anterior</div>
                        <div class="button btn-full-red">Siguiente</div>
                    </div>
                </div>
                <div class="div-responsive2">

                    <app-lateral></app-lateral>
                </div>


            </div>

            <!---info-->




        </div>

    </div>
</section>