<section class="page favorites">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage animated fadeIn">
        <h3>Favorites</h3>
    </div>
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <div>

            <!----info-->
            <div class="areablanc areablanc-interna animated fadeInUp">
                <div class="div-responsive1">

                    <!---Slider-->
                    <h5>Cupones de descuento</h5>
                    <div class="swiffy-slider slider-item-reveal slider-nav-round slider-item-ratio slider-item-ratio-21x9">
                        <ul class="slider-container ">
                            <li>
                                <div class="info-slider">
                                    <h1>JKLm345</h1>
                                    <h2>Descuento de 30%</h2>
                                    <div class="div1-home">

                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://swiffyslider.com/assets/img/photos/img4.webp" loading="lazy" alt="..."></li>
                            <li>
                                <div class="info-slider">
                                    <h1>JKLm345</h1>
                                    <h2>Descuento de 30%</h2>
                                    <div class="div1-home">

                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://swiffyslider.com/assets/img/photos/img5.webp" loading="lazy" alt="..."></li>
                            <li>
                                <div class="info-slider">
                                    <h1>JKLm345</h1>
                                    <h2>Descuento de 30%</h2>
                                    <div class="div1-home">

                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://swiffyslider.com/assets/img/photos/img6.webp" loading="lazy" alt="..."></li>
                            <li>
                                <div class="info-slider">
                                    <h1>JKLm345</h1>
                                    <h2>Descuento de 30%</h2>
                                    <div class="div1-home">

                                        <div class="stars">
                                            <ul>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://swiffyslider.com/assets/img/photos/img7.webp" loading="lazy" alt="..."></li>
                        </ul>

                        <button type="button" class="slider-nav" aria-label="Go left"></button>
                        <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

                        <div class="slider-indicators slider-indicators-square d-none d-md-flex">
                            <button class="active" aria-label="Go to slide"></button>
                            <button aria-label="Go to slide"></button>
                            <button aria-label="Go to slide"></button>
                            <button aria-label="Go to slide"></button>
                        </div>

                        <div class="slider-indicators slider-indicators-sm slider-indicators-dark slider-indicators-round d-md-none slider-indicators-highlight">
                            <button class="active" aria-label="Go to slide"></button>
                            <button aria-label="Go to slide"></button>
                            <button aria-label="Go to slide"></button>
                            <button aria-label="Go to slide"></button>
                        </div>
                    </div>


                    <!---Slider-->
                    <br>
                    <h5>Productos </h5>
                    <div class="post-inner">

                        <div class="carousel-inner-data">
                            <div class="post navTabs">
                                <div class=" itemFav">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>

                                        <div class="favoritesdiv2">
                                            <p>Product Name.</p>
                                            <p>fecha de ultima compra</p>
                                            <div class="stars">
                                                <ul>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class=" itemFav">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>

                                        <div class="favoritesdiv2">
                                            <p>Product Name.</p>
                                            <p>fecha de ultima compra</p>
                                            <div class="stars">
                                                <ul>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class=" itemFav">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>

                                        <div class="favoritesdiv2">
                                            <p>Product Name.</p>
                                            <p>fecha de ultima compra</p>
                                            <div class="stars">
                                                <ul>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class=" itemFav">
                                    <div class="group  itemFav lastposthome">
                                        <div class="favoritesdiv1">
                                            <a href="product.html">
                                                <img src="assets/images/zip_package1.png" alt="">
                                            </a>
                                        </div>

                                        <div class="favoritesdiv2">
                                            <p>Product Name.</p>
                                            <p>fecha de ultima compra</p>
                                            <div class="stars">
                                                <ul>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>





                            </div>
                        </div>

                        <div class="botonera">
                            <div class="button btn-simple-gray">Anterior</div>
                            <div class="button btn-full-red">Siguiente</div>
                        </div>

                    </div>
                </div>
                <div class="div-responsive2">

                    <app-lateral></app-lateral>
                </div>


            </div>

            <!---info-->




        </div>

    </div>
</section>