<div class=" resumenP scrollable">
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
    <!--articulo del pedido-->
    <div class="resumenPedido">
        <div class="resumenPedidodiv1">
            <h2>Nombre Producto</h2>
        </div>
        <div class="resumenPedidodiv2">
            <h3><span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#compartirEditModal">Compartir</a></span> | <span><a href="" type="button" data-bs-toggle="modal" data-bs-target="#comentarEditModal">Comentar</a></span></h3>

        </div>
        <div class="resumenPedidodiv3">
            <h1>$43.00</h1>
        </div>
        <div class="resumenPedidodiv4">
            <p>Cantidad: 20</p>
        </div>
    </div>
    <!--articulo del pedido-->
</div>