<section class="wallet page">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Wallet | Payment</h3>
    </div>
    <div class="container-fluid cuadro-modal">
        <div class="lineamedio"></div>
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">

                <div class="div-responsive1">


                    <!-- <form class="d-flex shadowSearch">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success btn-seach" type="submit"><i class="fa fa-search"></i></button>
                  </form> -->

                    <div class="post-inner">
                        <div class="  shadow orden-depedido">
                            <div class="alert alert-success col-12" role="alert">
                                <h4 class="alert-heading"></h4>
                                <h2>Order Success!</h2>
                                <p>Revise su correo con el recibo de pago.</p>
                                <hr>


                                <h2>Resumen total de Compra</h2>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="color: #000">Delivery zone Name</td>
                                            <td style="color: #000" align="right">$5.00</td>
                                        </tr>

                                        <tr>
                                            <td style="color: #000">Descuento Cupon Total</td>
                                            <td style="color: #000" align="right">$13.00</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #000">Sub Total</td>
                                            <td style="color: #000" align="right">$4.00</td>
                                        </tr>
                                    </tbody>

                                    <tfoot style="border-top: 1px solid #000; height: 50px;">
                                        <tr>
                                            <td style="color: #000">Total</td>
                                            <td style="color: #000" align="right">$53.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <hr>

                                <div class="botonera">
                                    <a routerLink="/app/order-status">
                                        <div class="button btn-full-red">Ver Pedido</div>
                                    </a>
                                    <a routerLink="/app/store">
                                        <div class="button btn-full-red">Continue</div>
                                    </a>
                                </div>
                            </div>
                            <h3>Nuestros Contacto</h3>
                            <p>Dirección</p>
                            <p>Teléfono</p>
                            <p>Whatsapp</p>
                            <p>Telegram</p>
                            <p>Instagram</p>
                            <p>Mapa Ubicación</p>
                            <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sit nulla pariatur tempora consectetur ullam, laborum.
                            </p>
                        </div>

                    </div>


                </div>

                <div class="div-responsive2">

                    <div class="lateral">
                        <div class="group  itemFav shadow">
                            <img src="assets/users/1.jpg" alt="">
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Johndoe@gmail.com</p>
                                <p>User</p>

                            </div>
                        </div>

                        <div class="banner-c">
                            <img src="https://picsum.photos/seed/car/500/500" alt="">
                        </div>
                        <!--banner publicidad-->
                        <div class="banner-rectangular">
                            <img src="https://picsum.photos/seed/1920/120" alt="">
                        </div>
                        <!--banner publicidad-->
                    </div>
                </div>

            </div>



        </div>

    </div>
</section>