<section class="admin ">
    <div class="butonBack">
        <a href="home.html"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Admin</h3>
    </div>



    <!--cuadromodal-->
    <div class="cuadro-modal ">

        <div class="lineamedio"></div>


        <div class="cardsmall group  itemFav shadow col-xs-12 col-sm-6">

            <div class="div1">
                <img src="assets/users/1.jpg" alt="">
            </div>
            <div class="div2">
                <p>John Doe.</p>
                <p>Johndoe@gmail.com</p>
                <p>Admin</p>


            </div>

        </div>

        <div class="  shadow orden-depedido col-xs-12 col-sm-6">
            <div class="alert alert-success col-12" role="alert">
                <h4 class="alert-heading"></h4>
                <h2>Tienes [20] Pedidos Nuevos!</h2>
                <p>Pedido reciente.</p>
                <p>John Doe.</p>
                <p>Fecha y hora.</p>
                <p>Envio a Domicilio</p>
                <h3>Total: $53.00</h3>
                <div class="botonera">
                    <a href="pedido-status.html">
                        <div class="button btn-full-red">Ver Pedido</div>
                    </a>
                </div>
            </div>
        </div>





        <!-- <div class="admin-services">
            <a [routerLink]="['/app/admin/product']">
                <div class="option-admin">
                    <i class="fas fa-window-restore"></i>
                    <p>Products</p>
                </div>
            </a>
            <a [routerLink]="['/app/admin/category']">
                <div class="option-admin">
                    <i class="fas fa-bookmark"></i>
                    <p>Categories</p>
                </div>
            </a>
            <a [routerLink]="['/app/admin/coupon']">
                <div class="option-admin">
                    <i class="fa fa-memory"></i>
                    <p>Coupons</p>
                </div>
            </a>
            <a [routerLink]="['/app/orders']">
                <div class="option-admin">
                    <i class="fa fa-boxes"></i>
                    <p>Orders</p>
                </div>
            </a>
            <a [routerLink]="['/app/settings']">
                <div class="option-admin">
                    <i class="fa fa-store"></i>
                    <p>Settings</p>
                </div>
            </a>
            <a [routerLink]="['/app/admin/cancelation']">
                <div class="option-admin">
                    <i class="fa fa-folder-open"></i>
                    <p>Cancelations</p>
                </div>
            </a>
            <a [routerLink]="['/app/admin/postal']">
                <div class="option-admin">
                    <i class="fa fa-folder-open"></i>
                    <p>Postal</p>
                </div>
            </a>
            <a [routerLink]="['/app/admin/promotions']">
                <div class="option-admin">
                    <i class="fa fa-tags"></i>
                    <p>Promotions</p>
                </div>
            </a>
            <a [routerLink]="['/app/admin/contact']">
                <div class="option-admin">
                    <i class="fa fa-tags"></i>
                    <p>Contact</p>
                </div>
            </a>

            <div class="option-admin">
                <i class="fab fa-rocketchat"></i>
                <p>Ticket Support</p>
            </div>
            <a [routerLink]="['/']">
                <div class="option-admin">
                    <i class="fas fa-sign-out"></i>
                    <p>Logout</p>
                </div>
            </a>
        </div> -->

        <br><br><br>
        <div class="clear"></div>
        <br><br><br>
        <h4>Most View Products</h4>
        <!--list horizontal-->
        <div class="inner-data animated fadeInRight">
            <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand">
                <!-- <ul class="slider-container py-4 slideh-list" id="slider2">
                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a [routerLink]="['/app/product']">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a [routerLink]="['/app/product']">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a [routerLink]="['/app/product']">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a href="product.html">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a [routerLink]="['/app/product']">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a [routerLink]="['/app/product']">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card shadow h-100">
                            <div class="ratio ratio-1x1">
                                <a [routerLink]="['/app/product']">
                                    <img src="./assets/images/zip_package1.png" class="card-img-top" loading="lazy" alt="bella cafe 200gm">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <strong>Subject</strong>
                                    <p class="card-text">Category</p>
                                </div>
                                <div class="px-md-2">$200</div>
                                <div class="div1-home">

                                    <div class="stars">
                                        <ul>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li>4.5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>



                </ul> -->

                <button type="button" class="slider-nav" aria-label="Go to previous"></button>
                <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
            </div>
        </div>
        <!--list horizontal-->
    </div>
    <!--cuadromodal-->


</section>