<section class="home">
    <a href="index.html"><img class="logo animated fadeInUp" src="./assets/svg/Logo-BellaCafeFinal.svg" alt=""></a>

    <!--cuadro-modal--->
    <div class="cuadro-modal animated fadeInUp">
        <div class="text-intro">
            <h2 class="animated fadeInUp">Un rico Aroma</h2>
            <h1 class="animated fadeInUp">Todos los días.</h1>
        </div>


        <!--slider products-->
        <div class="post-inners2">



            <!--list horizontal-->
            <app-slide-productos-h></app-slide-productos-h>
            <!--list horizontal-->

            <!--category name-->

            <app-category-bar></app-category-bar>
            <!--category name-->

            <!-- search -->
            <app-search-bar></app-search-bar>
            <!-- search -->
        </div>


        <div class="gradient-home animated fadeIn"></div>

    </div>
    <!--cuadro-modal--->


</section>