<!--factura mobile-->
<div class="cardsmall shadow   itemFav shadow p-3">
    <h2>Shopping Bill</h2>
    <div class="clear"></div>
    <table>
        <tbody>
            <tr>
                <td style="color: #000">Delivery zone Name</td>
                <td style="color: #000" align="right">$5.00</td>
            </tr>

            <tr>
                <td style="color: #000">Descuento Cupon Total</td>
                <td style="color: #000" align="right">$13.00</td>
            </tr>
            <tr>
                <td style="color: #000">Sub Total</td>
                <td style="color: #000" align="right">$4.00</td>
            </tr>
        </tbody>

        <tfoot style="border-top: 1px solid #000; height: 50px;">
            <tr>
                <td style="color: #000">Total</td>
                <td style="color: #000" align="right">$53.00</td>
            </tr>
        </tfoot>
    </table>
</div>
<!--factura mobile-->

<div class="col-auto mb-2">
    <input class="form-control form-control-md cuponInput" type="text" placeholder="Posee Cupón de Descuento?" aria-label=".form-control-lg example">
</div>


<!--factura desktop-->
<div class="info-product group  itemFav shadow infoCompraTotal mobile d-none">

    <h2>Shopping Bill</h2>
    <div class="clear"></div>

    <table>
        <tbody>
            <tr>
                <td style="color: #000">Delivery zone Name</td>
                <td style="color: #000" align="right">$5.00</td>
            </tr>

            <tr>
                <td style="color: #000">Descuento Cupon Total</td>
                <td style="color: #000" align="right">$13.00</td>
            </tr>
            <tr>
                <td style="color: #000">Sub Total</td>
                <td style="color: #000" align="right">$4.00</td>
            </tr>
        </tbody>

        <tfoot style="border-top: 1px solid #000; height: 50px;">
            <tr>
                <td style="color: #000">Total</td>
                <td style="color: #000" align="right">$53.00</td>
            </tr>
        </tfoot>
    </table>
</div>
<!--factura desktop-->