<div class="carousel-inner-data ">
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->

    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
    <!--Pedido-->
    <div class=" itemFav pedidoResumen">
        <div class="pedidoResumendiv1">
            <a routerLink="/app/order-status">
                <img src="assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="pedidoResumendiv2">
            <p>Pedido Principal</p>
        </div>
        <div class="pedidoResumendiv3">
            <p>fecha pedido</p>
            <a routerLink="/app/order-status">
                <p>ver pedido</p>
            </a>
        </div>

        <div class="pedidoResumendiv4">
            <p>$23.00</p>
        </div>
        <div class="pedidoResumendiv5">
            <div class="stars">
                <ul>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li>4.5</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Pedido-->
</div>