<section class="page">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Login | Register</h3>
    </div>



    <!--cuadromodal-->
    <div class="cuadro-modal animated fadeInUp">

        <div class="lineamedio"></div>


        <div class="cardsmall group  itemFav ">
            <div class="clear"></div>
            <br><br>
            <form action="">


                <div class="col-auto mb-2">
                    <input class="form-control form-control-md" type="text" placeholder="Email" aria-label=".form-control-lg example">
                </div>
                <div class="col-auto mb-2">
                    <input class="form-control form-control-md" type="password" placeholder="PassWord" aria-label=".form-control-lg example">
                </div>



                <div class="botonera">
                    <div class="button btn-simple-gray">Cancelar</div>
                    <a routerLink="/app/wallet">
                        <div class="button btn-full-red">Login</div>
                    </a>
                </div>

            </form>

        </div>


        <div class="info-product animated fadeInUp ">

            <h1>Register</h1>

            <!--rrsss-->
            <div class=" itemFav pedidoResumen">
                <div class="pedidoResumendiv1">
                    <div class="group  itemFav lastposthome">
                        <div class="favoritesdiv1">
                            <a routerLink="/app/wallet">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pedidoResumendiv2">
                    <p>Acceso por Google</p>
                </div>
                <div class="pedidoResumendiv3">
                    <p>usuario@gmail.com</p>
                </div>

            </div>
            <!--rrsss-->
            <!--rrsss-->
            <div class=" itemFav pedidoResumen">
                <div class="pedidoResumendiv1">
                    <div class="group  itemFav lastposthome">
                        <div class="favoritesdiv1">
                            <a routerLink="/app/wallet">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pedidoResumendiv2">
                    <p>Acceso por Facebook</p>
                </div>
                <div class="pedidoResumendiv3">
                    <p>usuario facebook</p>
                </div>

            </div>
            <!--rrsss-->

            <!--rrsss-->
            <div class=" itemFav pedidoResumen">
                <div class="pedidoResumendiv1">
                    <div class="group  itemFav lastposthome">
                        <div class="favoritesdiv1">
                            <a routerLink="/app/wallet">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pedidoResumendiv2">
                    <p>Acceso por Twitter</p>
                </div>
                <div class="pedidoResumendiv3">
                    <p>usuario Twitter</p>
                </div>

            </div>
            <!--rrsss-->

            <!--rrsss-->
            <div class=" itemFav pedidoResumen">
                <div class="pedidoResumendiv1">
                    <div class="group  itemFav lastposthome">
                        <div class="favoritesdiv1">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="pedidoResumendiv2" type="button" data-bs-toggle="modal" data-bs-target="#registerModal">
                    <p>Registro</p>
                </div>
                <div class="pedidoResumendiv3">
                    <p>Registro de Usuario</p>
                </div>

            </div>

            <!--rrsss-->


        </div>

    </div>
    <!--cuadromodal-->


</section>